/build/
/build-*/
/out/
/install/
/dist/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
.ninja_*
*.ninja
Makefile
!/Makefile
/.config

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.pdb
*.ilk
*.exp

/logs/
*.log

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
.vscode/
.idea/

.DS_Store
Thumbs.db

/plugins_runtime/
/runtime_plugins/

__pycache__/
*.pyc
